<h1>Listing predators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teeth size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @predators.each do |predator| %>
      <tr>
        <td><%= predator.name + request.env["omniauth.auth"].to_s %></td>
        <td><%= predator.teeth_size %></td>
        <td><%= link_to 'Show', predator %></td>
        <td><%= link_to 'Edit', edit_predator_path(predator) %></td>
        <td><%= link_to 'Destroy', predator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Predator', new_predator_path %>
