<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weasel.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @weasel.color %>
</p>

<%= link_to 'Edit', edit_weasel_path(@weasel) %> |
<%= link_to 'Back', weasels_path %>
